body {
    display: flex;
    gap: 8px;
}
.main {
    flex: 1;
    background: rgb(201, 201, 201);
    border-radius: 5px;
}

.drop-zone {
    font-size: 20px;
    border: 1px dashed black;
}

.filtres {
    display: flex;
}

.filtres > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex: 1;
}

.filtres > select {
    width: 20px;
}

.llista-llocs {
    background-color: wheat;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
} 

.museu {
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
.atraccio {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
}
.espai {
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}

.delBtn {
    background-color: red;
    color: white;
    border-radius: 5px;
}

#map { 
    flex: 2;
    border-radius: 5px;
    height: 100vh;
}