body {
    display: flex;
    gap: 8px;
}
.main {
    flex: 1;
    background: rgb(201, 201, 201);
    border-radius: 5px;
}

.drop-zone {
    font-size: 20px;
    border: 1px dashed black;
}

.filtres {
    display: flex;
}

.filtres > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex: 1;
}

.filtres > select {
    width: 20px;
}

#map { 
    flex: 2;
    border-radius: 5px;
    height: 100vh;
}